body {
  background-color: aqua;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 60px;
  color: white;
}

.container {
  background-color: rgb(7, 40, 111);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: aliceblue;
}

